$color-white: #ffffff;
$color-black: #000000;
$color-neutral-300: #333333;
$color-neutral-600: #666666;
$color-neutral-900: #999999;
$color-blue-300: #3333ff;
$color-blue-600: #6666ff;
$color-blue-900: #9999ff;
